{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}找回密码{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <style>
        form.ui.form {
            width: 400px;
            margin: 4rem auto;
        }
    </style>
{% endblock %}
{% block use %}
    <li><a href="{% url 'users:register' %}" >注册</a></li>
    <li><a href="{% url 'users:ForPass' %}" >忘记密码</a></li>
{% endblock %}
{% block body_block %}
<div class="jumbotron">
<div class="container">
    <form action="{% url 'users:ForPass' %}" class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="title">请输入你注册的邮箱：</label>
            <input id="title" type="text" name="title" required>
        </div>
        <input class="ui green fluid button" type="submit" value="找回密码"/><br/>
        <a href="{% url 'users:login' %}" class="ui green fluid button">直接登录</a>
        <div class="field">
        {% if error %}错误信息：{{ error }}{% endif %}
        </div>
    </form>
</div>
</div>
{% endblock %}