{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}设置密码{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <style>
        form.ui.form {
            width: 400px;
            margin: 4rem auto;
        }
    </style>
{% endblock %}
{% block use %}
    <li><a href="{% url 'users:register' %}" >注册</a></li>
    <li><a href="{% url 'users:ForPass' %}" >忘记密码</a></li>
{% endblock %}
{% block body_block %}
<div class="jumbotron">
    <form action="{% url 'users:ChanPass' user.id %}" class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="title">设置用户{{ user.username }}的密码</label>
            <input id="title" type="text" name="title" required>
        </div>
        <input class="ui green fluid button" type="submit" value="设置密码"/>
        <div class="field">
        <br/><a href="{% url 'users:login' %}" class="ui green fluid button">返回登录页面</a>
        {% if error %}错误信息：{{ error }}{% endif %}
        </div>
    </form>
</div>
{% endblock %}